@model IEnumerable<MVC.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> 

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="card-img-top" alt="">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-danger price pt-2">@Html.DisplayFor(modelItem => item.Price):-</p>
                        <a asp-action="Details" asp-route-id="@item.Id">Read more</a>
                    </div>
                </div>
                <div class="card-footer">
                    <small>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>                
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </small>
                </div>
            </div>
        </div>
    }
</div>


    



